.css-logo-jne {
    width: 65px;
    height: 40px;
    background-image: url(../images/courier/jne.jpg);

    background-repeat: no-repeat;
    -webkit-background-size: 65px 65px;
    background-size: 65px;
    display: inline-block;
    text-indent: -99999px;
}

.css-logo-tiki {
    width: 65px;
    height: 40px;
    background-image: url(../images/courier/tiki.jpg);

    background-repeat: no-repeat;
    -webkit-background-size: 65px 65px;
    background-size: 65px;
    display: inline-block;
    text-indent: -99999px;
}

.css-logo-jnt {
    width: 65px;
    height: 40px;
    background-image: url(../images/courier/jnt.jpg);

    background-repeat: no-repeat;
    -webkit-background-size: 65px 65px;
    background-size: 65px;
    display: inline-block;
    text-indent: -99999px;
}

.css-logo-pos {
    width: 65px;
    height: 40px;
    background-image: url(../images/courier/pos.jpg);

    background-repeat: no-repeat;
    -webkit-background-size: 65px 65px;
    background-size: 65px;
    display: inline-block;
    text-indent: -99999px;
}

.css-logo-wahana {
    width: 65px;
    height: 40px;
    background-image: url(../images/courier/wahana.jpg);

    background-repeat: no-repeat;
    -webkit-background-size: 65px 65px;
    background-size: 65px;
    display: inline-block;
    text-indent: -99999px;
}

.css-logo-sicepat {
    width: 65px;
    height: 40px;
    background-image: url(../images/courier/sicepat.jpg);

    background-repeat: no-repeat;
    -webkit-background-size: 65px 65px;
    background-size: 65px;
    display: inline-block;
    text-indent: -99999px;
}

.css-logo-pahala {
    width: 65px;
    height: 40px;
    background-image: url(../images/courier/pahala.jpg);

    background-repeat: no-repeat;
    -webkit-background-size: 65px 65px;
    background-size: 65px;
    display: inline-block;
    text-indent: -99999px;
}

.css-logo-ninja {
    width: 65px;
    height: 40px;
    background-image: url(../images/courier/ninja.jpg);

    background-repeat: no-repeat;
    -webkit-background-size: 65px 65px;
    background-size: 65px;
    display: inline-block;
    text-indent: -99999px;
}

.css-logo-lion {
    width: 65px;
    height: 40px;
    background-image: url(../images/courier/lion.jpg);

    background-repeat: no-repeat;
    -webkit-background-size: 65px 65px;
    background-size: 65px;
    display: inline-block;
    text-indent: -99999px;
}

.css-logo-cahaya {
    width: 65px;
    height: 40px;
    background-image: url(../images/courier/cahaya.jpg);

    background-repeat: no-repeat;
    -webkit-background-size: 65px 65px;
    background-size: 65px;
    display: inline-block;
    text-indent: -99999px;
}